/* header text color #2E2F42 
adress #434455
web color #4D5AE5 */
/* bgc #E5E5E5 */
/* body bgc #FFFFFF  */
/* body color #2E2F42 */
/* 2nd color #434455 */
/* button text color #4D5AE5 bgc #E7E9FC  */
/* btn bgc hover #404BBF text #FFFFFF  */

:root {
  --primary-text-color: #434455;
  --title-color: #2e2f42;
  --footer-studio-color:#F4F4FD;
  --footer-text-color: #E7E9FC;
  --active: #404bbf;
  --body-backgroung-color: #FFFFFF;
  --hero-text-color:  #ffffff;
  --logo-primbutton-color: #4D5AE5;
  --bcg-secbutton-color: #F4F4FD;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--body-backgroung-color);
  }
/* 1. header */
.header{
  
   
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.container{
  width: 1158px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}
/* logo */
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
text-transform: uppercase;
}
.web {
  color: var(--logo-primbutton-color);
}
.main-nav{
  display: flex;
  align-items: center;
}
/* site nav */

.site-nav{
  display: flex;
  margin-left: 76px;
}

.site-nav .item + .item{
  margin-left: 40px;
}
/* .site-nav .item:not(:last-child){
  margin-right: 40px;
} */
/* .site-nav .item:last-child{
  margin-right: 0;
} */
.site-nav a {
display: block;
padding-top: 24px;
padding-bottom: 24px;

color: var(--title-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--active);
}

.address {
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.contact-info .item + .item{
margin-left: 40px;
}
.contact-info{
  display: flex;
  margin-left: 303px;
}

/* 2. main */


.link{
font-family: 'Roboto', sans-serif;
color:var(--title-color)
line-height: 1.17;
letter-spacing: 0.03em;
text-decoration: none;
font-size: 18px;
}
.link:active{
  color: var(--active)
}
.contact-info a {
  color: var(--primary-text-color);
}
.contact-info a:hover,
.contact-info a:focus {
  color: var(--active);
}
 
/* buttons */

.button {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.33;
letter-spacing: 0.04em;
cursor: pointer;
border-radius: 4px;
text-align: center;
border: 1px solid transparent;
}

.button.primary {
color: var(--background-color);
background-color: var(--logo-primbutton-color);
padding: 16px 32px;
min-width: 169px;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--background-color);
  background-color: var(--active);
}
.button.secondary {
color: var(--logo-primbutton-color);
padding: 12px 24px;
border-color: var(--footer-text-color);
background: var(--bcg-secbutton-color);
min-height: 48px;
display: inline-flex
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--active);
  color: var(--hero-text-color);
}
 
/* sections */
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio{
  padding-top: 0px;
  padding-bottom: 120px; 
}
.container.container-button{
  padding-top: 96px;
  padding-bottom: 72px;
}
/* hero */
.hero-title {
color: var(--hero-text-color);
font-size: 56px;
letter-spacing: 0.02em;
line-height: 1.07;
margin-top: 0px;
margin-bottom: 48px;
}
.hero {
  text-align: center;
  color: var(--footer-text-color);
  background-color: var(--title-color);
  /* outline: 1px solid tomato; */
  padding-top: 188px;
  padding-bottom: 188px;
  }
.section-title.advantages {
  display: none;
}

.section-title-big{
font-size: 36px;
letter-spacing: 0.02em;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
margin-top:0px;
margin-bottom: 72px;
}
.title-portfolio{
display: none;
}
.section-title {
color: var(--title-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
padding-top: 0;
margin-top: 0;
margin-bottom: 8px;
}
.section-text{
  margin-top: 0;
  margin-bottom: 120px;
}
.section-text-group{
  margin-top: 0px;
  margin-bottom: 32px;
}

.team {
  background-color: var(--bcg-secbutton-color);
  text-align:center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-image {
  margin-bottom: 32px;
}
  
.card-title{
  margin-top: 0px;
  margin-bottom: 8px;
}
.card-text{
  margin-top: 0px;
  margin-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color:var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer p {
color: var(--footer-text-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer.studio {
  color: var(--bcg-secbutton-color);
}

.list.card-set {
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 48px;
  column-gap: 24px; */
  /* justify-content: space-between; */
}
.flex-element{
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}
.flex-element:nth-child(3n){
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3){
  margin-bottom: 0;
}
.list.button-list{
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.list.advantages,
.list.work-departments,
.list.card{
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
/* .list.work-departments{
  display: flex;
  justify-content: center;
  column-gap: 24px;
} */